.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  font-size: 2.2rem;
  height: 4.2rem;

  @include until(1024px) {
    font-size: 1.6rem;
    height: 2.8rem;
  }

  &__default {
    @extend .button;
    @include button(17.6rem, "default");

    @include until(1024px) {
     background-color: $primary-2
    }
  }
  &__secondary {
    @extend .button;
    @include button(17.6rem, "secondary");
  }
}
