.footer {
  background-color: $dark-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4.8rem;
  height: 33.6rem;
  width: 100%;
  @include until(1024px) {
    height: auto;
    justify-content: center;
  }
  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.6rem 1.6rem;
    width: 100%;
    height: auto;

    @include until(1024px) {
      grid-template-columns: 1fr;
      gap: 2.4rem 1.6rem;
    }
    &-group {
      border-right: 0.1rem solid $dark-4;
      & > p {
        color: $light-2;
      }
      &:last-child {
        border-right: none;
      }

      @include until(1024px) {
        border: none;
        align-items: center;
      }

      &.third {
        @include until(1024px) {
          margin-top: 4rem;
          grid-row-start: 1;
        }
      }

      &.second {
        @include until(1024px) {
          margin: 0;
          grid-row-start: 2;
        }
      }
    }
  }

  &__logo {
    display: inline-block;
    margin: 2.4rem 0 0 0;
    width: 6rem;
    height: 2rem;
    @include until(1024px) {
      margin: 2.4rem auto auto auto;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    max-width: 24rem;
    line-height: 3rem;
    @include until(1024px) {
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    width: auto;
    height: auto;
    max-height: 14rem;
    list-style-type: none;
    &-item {
      display: inline-block;
      width: auto;
      &:nth-child(4){
        @include until(1024px) {
          display: none;
        }
      }

    }
    &-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.6rem;
      color: $light-2;
      line-height: 3rem;
    }

    @include until(1024px) {
      align-items: center;
    }
  }

  &__simple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    @include until(1024px) {
      align-items: center;
      text-align: center;
    }
  }
}
